#!/usr/bin/env bash

[[ -d .venv ]] || python3 -m venv .venv
# shellcheck source=.venv/bin/activate
source .venv/bin/activate

GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/terraform/gcp-credentials.json"
export GOOGLE_APPLICATION_CREDENTIALS
export GCP_SERVICE_ACCOUNT_FILE=${GOOGLE_APPLICATION_CREDENTIALS}
export CLOUDSDK_CORE_PROJECT=""

PUBLIC_IP_ADDRESS=$(curl --silent ipinfo.io/ip)
[[ ! "${PUBLIC_IP_ADDRESS}" =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]] && (
  echo "Could not determine public IP-address, exiting"
  exit 1
)
export PUBLIC_IP_ADDRESS

export TF_VAR_public_access_cidrs="[\"${PUBLIC_IP_ADDRESS}/32\"]"
